.dialog {
    height: 500px !important;
    width: 500px !important;
}

.MuiDialog-paper {
    width: 700px;
    height: 500px;
    overflow-y: scroll;
}

.root {
    margin: 0;
    padding: 2px;
}

.closeButton {
    position: absolute;
    right: 10px;
    top: 10px;
    color: grey;
}

.modal {
    display: flex;
    justify-content: space-between;
}
