.navigate {
    display: flex;
    margin: 3px;
    justify-content: flex-end;
}

.root {
    margin-left: 20px;
    width: 250px;
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.card-title {
    font-size: 18px;
}

.pos {
    margin-bottom: 12px;
}

.more {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.date {
    align-self: center;
}
