*{
  outline: none;
}

.settings {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.green {
  color: green;
}

.main-cards{
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  margin: 0 auto;
}
